# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe

# LaTeX
*.aux
*.log
*.out
*.pyg
*.toc
*.fdb_latexmk
*.fls
*.dvi

# Other
/reference/*
/_code
/_minted-notebook
/_minted-notebook-trunc
/notebook.synctex.gz
/codelib

/docs/*
!/docs/index.md
!/docs/contents.md
!/docs/_config.yml
